pkgbase = ctlos-qogir
	pkgdesc = An Flat Gtk+ theme based on Qogir
	pkgver = 1.4
	pkgrel = 1
	url = https://github.com/ctlos/ctlos-themes
	arch = any
	groups = ctlos
	license = GPL2
	depends = git
	optdepends = gtk-engine-murrine
	optdepends = gtk-engines
	source = git+https://github.com/ctlos/ctlos-themes.git
	sha256sums = SKIP

pkgname = ctlos-qogir
